@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
.webImage {
  /* @apply w-1/3  how to write 50% height in tailwind  */
  @apply flex;
}
.notrequiredHidingMob { 
display : none ; 
}
body {
  @apply bg-[#1a1a1a] text-white;
}
.main-content-2 {
  @apply bg-[url('img/comma.png')] bg-contain bg-center bg-no-repeat;
}
.myForm {
  @apply flex flex-col align-middle justify-center w-[50vw] h-[100vh] m-auto;
}
label[for="burger-menu"] {
  @apply hidden;
  /* width: 2em; */
  /* height: 2em; */
}
.nav-lists li {
  @apply whitespace-nowrap inline p-[1em];
}
.nav {
  @apply flex justify-between ml-[1em] m-[2em];
}
.nav a {
  @apply text-white no-underline p-[1em]  hover:text-[#901522] focus:text-[#901522];
}
/* .nav-lists li {
  list-style: none;
} i want to convert this code inot tailwlind  */

.nav-lists li {
  @apply list-none;
}

.main-content {
  @apply flex justify-center items-center h-[80vh] w-4/5 m-auto;
}
#buttonMy { 
  @apply bg-[#ff4d00] text-white p-2 rounded-md;

}
.main-content-3 { 
  @apply flex justify-center items-center h-[80vh] w-4/5 m-auto;
}
.grid-container {
  @apply overflow-visible h-[120vh] relative;
}

.mainFooter {
  @apply text-center text-xs mt-8 mb-4  bottom-0 w-full;
}

MainSideText {
  @apply w-1/5;
}
.bolding {
  @apply font-bold;
}
.MainSideTextPara {
  @apply text-[1.8em];
}
#MainContAnimation {
  @apply w-[145%];
}
#mainStrategyAnimation { 
  @apply w-[80%] h-[40%] relative ;

}
.headingPara { 
  @apply font-bold text-[1.3em]  m-2 ;
}
.commaImg {
  @apply bg-cover w-1/2 m-auto bg-[img/comma.png];
}
.backgroundColoring { 
  background-color: #A90D1D !important;
}
.hidden { 
  display : none;
}
/* create media query for desktop screen of 1200px */
@media (max-width: 1200px) {
  .webImage {
    @apply flex items-center;
  }
  .first {
    @apply w-3/12;
  }
  .second {
    @apply w-3/12;
  }
}


/* write me media query which should work between 1200 and 960 */
@media (max-width: 960px) {
  .webImage {
    @apply flex items-center;
  }
  .first {
    @apply w-[30%];
  }
  .second {
    @apply w-[30%];
  }
  .MainSideTextPara {
    @apply text-[1em];
  }
}
/* now write me media query for mobile screens  */
@media (max-width: 768px) {
  #mainStrategyAnimation  { 
    display: none !important;
   }
   .requiredHidingMob { 
    display : none;
   }
   .notrequiredHidingMob.addtional {
    display: block;
  }
    .mobThreePara { 
      display: block !important; 
    }
  
  .webImage {
    @apply flex items-center;
  }
  .first {
    @apply w-2/5;
  }
  .second {
    @apply w-2/5;
  }
  .MainSideTextPara {
    @apply text-[0.8em] text-[2em];
  }
  .main-content {
    @apply flex-col;
  }
  .MainSideText {
    /* how to write     font-size: 0.6rem; in taiwind  */

    @apply w-4/5 text-[0.6rem];
  }
  #MainContAnimation {
    @apply w-4/5;
  }
  /* Hide the navigation list by default */
  .nav-lists {
    @apply hidden;
  }
  /* Show the navigation list when the burger menu is clicked */
  label[for="burger-menu"] {
    @apply text-[4em] block;
    /* width: 2em; */
    /* height: 2em; */
  }
  label[for="burger-menu"] {
    /* width: 2em; */
    /* height: 2em; */
  }
}
@media (max-width: 480px) {

 #mainStrategyAnimation  { 
  display: none !important;
 }
 .requiredHidingMob { 
  display : none;
 }
 .notrequiredHidingMob.addtional {
  display: block;
}
  .mobThreePara { 
    display: block !important; 
  }

  .innerParaParent { 
    margin-bottom: 5em !important;
  }
  .checkBoxCustom {
    @apply rounded-full appearance-none w-6 h-4 bg-gray-800 border-2 border-gray-600 checked:bg-blue-500 checked:border-blue-500;
  }
  .myForm {
    @apply flex flex-col align-middle justify-center w-[80vw] h-[100vh] m-auto;
  }
  .mainFooter {
    @apply text-center text-xs mt-8;
  }
  .webImage {
    @apply flex items-center;
  }
  .first {
    @apply w-2/5;
  }
  .second {
    @apply w-2/5;
  }
  .MainSideTextPara {
    @apply text-[0.8em] text-[2em];
  }
  .main-content {
    @apply flex-col;
  }
  .MainSideText {
    @apply w-4/5;
  }
  #MainContAnimation {
    @apply w-4/5;
  }
  /* Hide the navigation list by default */
  .nav-lists {
    @apply hidden;
  }
  /* Show the navigation list when the burger menu is clicked */
  label[for="burger-menu"] {
    @apply text-[4em] block;
    /* width: 2em; */
    /* height: 2em; */
  }
  label[for="burger-menu"] {
    /* width: 2em; */
    /* height: 2em; */
  }
}

        
.commaImg {
  @apply w-1/2 m-auto;
}
form > div {
  margin-bottom: 0.2em;
}
.button {
  display:inline-block;
  height:60px;
  line-height:60px;
  overflow:hidden;
  position:relative;
  text-align:center;
  background-color:transparent;
  color:white;
  border-radius:2px;
  transition:0.3s;
}

.button:hover {background:#901522;}

/* BUTTON UP */
.label-up {
  display:block;
  margin:0px 30px;
  height:100%;
  position:relative;
  top:0%;
  transition:0.3s;
}
.headingPara { 
  @apply text-center; 
}
.threeParaText { 
@apply text-center;
}
.button:hover .label-up {
  top:-100%;
}

/* BUTTON DOWN */
.label-down {
  display:block;
  margin:0px 30px;
  height:100%;
  position:relative;
  top:-100%;
  transition:0.3s;
}

.button:hover .label-down {
  top:0%;
}


/* our swiper  */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #1A1A1A;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10000em;
}
.burget-menu.close::after {
  content: '\2715'; /* Unicode character for cross symbol */
  font-size: 24px; /* Adjust size as needed */
}
html { 
  position: relative;
}
#footer { 
  position: absolute; 
  bottom: 0;
}
